body {
  margin: 0;
  padding: 0;
  font-family: "Fresca", sans-serif;
  color: #ffffff;
  background: #21232e; }

p {
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 720px;
  background: url("../img/m-h-night.jpg") center no-repeat;
  background-size: cover;
  border-bottom-right-radius: 45%;
  z-index: 1; }
  .header .header_heading:before {
    content: "";
    position: absolute;
    top: 92px;
    left: 0;
    background: #ff4e33;
    height: 50px;
    width: 305px;
    z-index: -1; }
  .header .header_heading {
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 72px;
    font-weight: 700;
    width: 100%;
    max-width: 495px;
    margin-top: 70px;
    margin-bottom: 40px;
    line-height: 1; }
  .header .header_text {
    width: 100%;
    max-width: 650px;
    line-height: 1.5;
    white-space: pre-line; }
  .header div:nth-child(4) {
    margin-top: 65px; }
    .header div:nth-child(4) .header_button {
      font-size: 18px;
      color: #ffffff;
      border: 0;
      border-radius: 3px;
      background: #e3ac00;
      width: 142px;
      height: 48px;
      font-family: "Source Sans Pro", sans-serif;
      margin-right: 152px;
      font-weight: 600; }
    .header div:nth-child(4) .login {
      font-size: 21px;
      color: #ffffff;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 400; }

.header-wrap, .section, .footer-wrap {
  margin: 0 auto;
  max-width: 1540px;
  width: 100%; }

.landing-logo {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 15px 0;
  font-size: 24px;
  text-align: center; }
  .landing-logo img {
    margin-right: 14px; }
  .landing-logo p {
    font-weight: 600;
    padding: 5px; }
  .landing-logo span {
    display: flex;
    margin: 0 10px;
    font-size: 10px; }

.section {
  position: relative; }
  .section .section_text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 777px;
    background: #ff4e33;
    height: 52px;
    width: 190px;
    z-index: -1; }
  .section .section_text {
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    margin: 40px 0;
    text-align: center;
    font-size: 42px;
    font-weight: 600; }
  .section .section_card_wrap .section_card {
    display: flex;
    margin: 25px 210px;
    background: #3b3f50;
    border-radius: 5px;
    font-size: 16px;
    color: #d1d1d1; }
    .section .section_card_wrap .section_card .section_card_img {
      display: block;
      width: 100%;
      max-width: 400px;
      margin: 20px;
      border-radius: 5px; }
    .section .section_card_wrap .section_card .section_card_right_container {
      margin: 50px auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
        font-weight: bold;
        font-size: 24px;
        color: #ffffff;
        font-family: "Source Sans Pro", sans-serif; }
      .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
        line-height: 1.5;
        max-width: 470px; }
      .section .section_card_wrap .section_card .section_card_right_container .section_link {
        font-size: 16px;
        color: #d1d1d1;
        font-family: "Source Sans Pro", sans-serif; }
  .section .section_banner {
    position: absolute;
    display: flex;
    margin: 0 170px;
    bottom: -285px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #e3ac00, #932d52);
    width: 1200px;
    height: 150px;
    border-radius: 5px; }
    .section .section_banner .section_banner_text_wrap {
      position: relative;
      margin-left: 165px;
      z-index: 1; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading::before {
        content: "";
        position: absolute;
        top: 0;
        left: 150px;
        background: #ff4e33;
        height: 50px;
        width: 64px;
        z-index: -1; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading {
        font-size: 36px;
        font-weight: bold;
        font-family: "Source Sans Pro", sans-serif; }
      .section .section_banner .section_banner_text_wrap .section_banner_text {
        color: #d1d1d1; }
    .section .section_banner .section_banner_button {
      font-size: 18px;
      color: #ffffff;
      border: 0;
      border-radius: 3px;
      background: #e3ac00;
      width: 142px;
      height: 48px;
      margin-right: 160px;
      font-weight: 600;
      font-family: "Source Sans Pro", sans-serif; }

.footer {
  margin-top: 210px;
  background: #3b3f50;
  height: 243px;
  color: #d1d1d1; }
  .footer .footer_text {
    font-size: 13px;
    max-width: 290px; }

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 135px; }
