// Write your styles here
// Mixins
@mixin clear{
    margin: 0;
    padding: 0;
}

@mixin links($f-size, $f-color){
    font-size: $f-size;
    color: $f-color;
}

@mixin buttons($f-size, $f-color, $b-color, $width, $height){
    font-size: $f-size;
    color: $f-color;
    border: 0;
    border-radius: 3px;
    background: $b-color;
    width: $width;
    height: $height;
}

@mixin before_bg($top, $left, $height, $width){
    content:"";
    position:absolute;
    top: $top;
    left: $left;
    background: $text-bg-color;
    height: $height;
    width: $width;
    z-index: -1;
}

body {
    @include clear;
    font-family: $main-font-family;
    color: $body-text-color;
    background: $body-bg-color;
}

p {
    @include clear;
}


.header{
    display: flex;
    flex-direction: column;

    position: relative;
    width: 100%;
    height: $header-height;

    background: url($header-bg-image) center no-repeat;
    background-size: cover;
    border-bottom-right-radius: 45%;
    z-index: 1;


    .header_heading{
        position: relative;

        font-family: $second-font-family;
        font-size: 72px;
        font-weight: 700;

        width: 100%;
        max-width: 495px;

        margin-top: 70px;
        margin-bottom: 40px;
        line-height: 1;


        &:before{
                @include before_bg(92px, 0, 50px, 305px)
            }
    }

    .header_text{
        width: 100%;
        max-width: 650px;
        line-height: 1.5;
        white-space: pre-line;
    }

    div:nth-child(4) {
        margin-top: 65px;
        
        .header_button { 
            @include buttons(18px, $button-color, $button-bg-color, 142px, 48px);
            font-family: $second-font-family;
            margin-right: 152px;
            font-weight: map-get($map: $font-weights, $key: "medium");
        }

        .login{
            @include links(21px, $link-color);
            font-family: $second-font-family;
            font-weight: map-get($map: $font-weights, $key: "regular");
        }
    }

}

// Will be extended
.header-wrap{
    margin: 0 auto;
    max-width: $main-content-size;
    width: 100%;
}

.landing-logo{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 15px 0;

    font-size: 24px;
    text-align: center;

    img{
        margin-right: 14px;
    }
    p{
        font-weight: map-get($map: $font-weights, $key: "medium");
        padding: 5px;
    }
    span{
        display: flex;
        margin: 0 10px;
        font-size: 10px;
    }

}

.section{
    @extend .header-wrap;
    position: relative;

    .section_text{
        position: relative;
        font-family: $second-font-family;
        margin: 40px 0;
        text-align: center;
        font-size: 42px;
        font-weight: 600;

        &:before{
            @include before_bg(0, 777px, 52px, 190px)
        }
    }

    .section_card_wrap{

        .section_card{
            display: flex;
            margin: 25px 210px;
            background: $card-bg-color;
            border-radius: 5px;

            font-size: 16px;
            color: $card-text-color;

            .section_card_img{
                display: block;
                width: 100%;
                max-width: 400px;
                margin: 20px;
                border-radius: 5px;
            }

            .section_card_right_container{
                margin: 50px auto;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .section_card_heading{
                    font-weight: bold;
                    font-size: 24px;
                    color: $card-heading-color;
                    font-family: $second-font-family;
                }

                .section_card_text{
                    line-height: 1.5;
                    max-width: 470px;
                }

                .section_link{
                    @include links(16px, $card-text-color);
                    font-family: $second-font-family;
                }

            }

        }


    }

    .section_banner{
        position: absolute;
        display: flex;
        margin: 0 170px;
        bottom: -285px;

        justify-content: space-between;
        align-items: center;
        background: linear-gradient(to right, $button-bg-color, $gradient-color);
        width: 1200px;
        height: 150px;

        border-radius: 5px;

        .section_banner_text_wrap{
            position: relative;
            margin-left: 165px;
            z-index: 1;
            
            .section_banner_heading{
                font-size: 36px;
                font-weight: bold;
                font-family: $second-font-family;
                
                &:before{
                    @include before_bg(0, 150px, 50px, 64px);
                }
            }

            .section_banner_text{
                color: $card-text-color;
            }
        }
        .section_banner_button{
            @include buttons(18px, $button-color, $button-bg-color, 142px, 48px);
            margin-right: 160px;
            font-weight: 600;
            font-family: $second-font-family;
          
        }

    }
}


.footer{
    margin-top: 210px;
    background: $footer-bg-color;
    height: 243px;

    color: $footer-text-color;

    .footer_text{
        font-size: 13px;
        max-width: 290px;
    }
}

.footer-wrap{
    @extend .header-wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 135px;
}