// Fonts family
$main-font-family: 'Hind', sans-serif;
$second-font-family: 'Source Sans Pro', sans-serif;

// Fonts size
$font-weights:("regular": 400, "medium": 600, "bold": 700);

//Bg image
$header-bg-image: '../img/m-h-day.jpg';

// Content size
$main-content-size: 1540px;
$header-height:720px;

//Colors
$white: #ffffff;
$darkgray: #21232e;
$lightgray: #c0c3ce;

$body-bg-color: $white;
$body-text-color: #2c2f3c;

$button-color: $white;
$link-color:$white;

$card-bg-color: $darkgray;
$card-text-color: $lightgray;
$card-heading-color: $white;
$footer-bg-color: $darkgray;
$footer-text-color: $lightgray;
$button-bg-color: #699900;
$text-bg-color: #14a0c7;
$gradient-color: #2d5bd7;