// Fonts family

$font-family-source: 'Source Sans Pro', sans-serif;
$font-family-hind: 'Hind', sans-serif;
$font-family-fresna: 'Fresca', sans-serif;


// Fonts size


$primary-seize: 16px;

$header-heading-size: 54px;
$header-text-size: 16px;

$section-heading-size: 32px;


// Content size
$main-content-size: 1540px;
$header-height:720px;



// Colors
$primary-text-color: #2c2f3c; 

$gray-color: #c0c3ce;
$green-color: #699900;
$blue-color: #2d5bd7;
$aqua-color: #14a0c7;
$white-color: #fff;


$background-color: #21232e;